.App {
  background-color: rgb(230, 230, 230);
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: scroll;
}
.react-p5 {
  margin-top: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: block;
  width: fit-content;
  z-index: 0;

}
#youWon {
  margin-top: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: none;
  height: 400px;
  width: 400px;
  z-index: 1;
  overflow: hidden;
  text-align: center;

}
.spaceship {
  height: 400px;
  width: 400px;
}
#youWon p {
	background-color: rgba(0,0,0,.8);
	color: orangered;
	font-size: 2rem;
	font-weight: bold;
	position: relative;
	bottom: 200px;
	text-align: center;
	width: 160px;
	display: inline;
	padding: 4px;
	border-radius: 10px;
}
.btn-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 200px;
  top: calc(50vh - 60px);
}
.btn-con button {
  width: 100px;
  background-color: black;
  color: orangered;
  padding: 2px;
  border-radius: 4px;
  font-weight: 600;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 26px;
  
}
.btn-con button:nth-child(n+2) {
  margin-top: 4px;
}
